[core]
  editor="vim"
  whitespace=2
  autocrlf = input

[user]
  name="Philippe Ndiaye"
  email="phndiaye@gmail.com"

[alias]
  customlog = log --abbrev-commit --graph
  customgrep=grep --color=auto --line-number --ignore-case

[color]
  status=auto
  branch=auto
  diff=auto

[color "grep"]
  filename=cyan bold
  linenumber=green

[push]
  default=simple
